.container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(6, auto);
    width: 1000px;
    margin: 250px auto;
}

.grid-item {
    padding: 20px;
    background-color: rgb(255, 255, 5);
    font-size: 20px;
    text-align: center;
}

.box-0 {
    grid-row-start: 1;
    grid-row-end: 13;
}

.box-1 {
    grid-row-start: 1;
    grid-row-end: 7;
}

.box-2 {
    grid-row-start: 7;
    grid-row-end: 13;
}

.box-3 {
    grid-row-start: 1;
    grid-row-end: 5;
}

.box-4 {
    grid-row-start: 5;
    grid-row-end: 9;
}

.box-5 {
    grid-row-start: 9;
    grid-row-end: 13;
}

.box-6 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.box-7 {
    grid-row-start: 4;
    grid-row-end: 7;
}

.box-8 {
    grid-row-start: 7;
    grid-row-end: 10;
}

.box-9 {
    grid-row-start: 10;
    grid-row-end: 13;
}

.box-10 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.box-11 {
    grid-row-start: 3;
    grid-row-end: 5;
}

.box-12 {
    grid-row-start: 5;
    grid-row-end: 7;
}

.box-13 {
    grid-row-start: 7;
    grid-row-end: 9;
}

.box-14 {
    grid-row-start: 9;
    grid-row-end: 11;
}

.box-15 {
    grid-row-start: 11;
    grid-row-end: 13;
}

.box-16 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.box-17 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.box-18 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.box-19 {
    grid-row-start: 4;
    grid-row-end: 5;
}

.box-20 {
    grid-row-start: 5;
    grid-row-end: 6;
}

.box-21 {
    grid-row-start: 6;
    grid-row-end: 7;
}

.box-22 {
    grid-row-start: 7;
    grid-row-end: 8;
}

.box-23 {
    grid-row-start: 8;
    grid-row-end: 9;
}

.box-24 {
    grid-row-start: 9;
    grid-row-end: 10;
}

.box-25 {
    grid-row-start: 10;
    grid-row-end: 11;
}

.box-26 {
    grid-row-start: 11;
    grid-row-end: 12;
}

.box-27 {
    grid-row-start: 12;
    grid-row-end: 13;
}

.box-28 {
    grid-row-start: 13;
    grid-row-end: 14;
}

.box-29 {
    grid-row-start: 12;
    grid-row-end: 12;
}